.App {
  text-align: center;
}

.App-header {
  background-color: #340d19;
  min-height: 10vh;

}
.navbar{
    overflow: hidden;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 100;
}
.main{
  position:absolute;
  margin: 10%;
  background-color:grey;
  width: 67%;
  height: 75%;
}
