* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
    cursor: pointer;
}

.column img {
    margin-top: 5px;
}

/*.row:after {*/
    /*content: "";*/
    /*display: block;*/
    /*clear: both;*/
/*}*/
.productdetails{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
}