* {
    box-sizing: border-box;
}

.column {
    position: relative;
    float: left;
    padding: 10px;
    cursor: pointer;
}

.column img {
    margin-top: 5px;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}
.productdetails{
    display: block; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding:auto; /* Location of the box */
    left: 18px;
    top: 18px;
    width: 48%; /* Full width */
    height: auto; /* Full height */
    overflow: auto;
    background-color: white;

}

.overlay{
    animation: fadeIn 2s
}

.column2{
    float: left;
    margin: 4px;
    position: relative;
    width: auto;
    height: auto;
    cursor: pointer;
}
#imageupload{
    /*overflow: auto;*/
    /*background-color: red;*/
    /*box-sizing: border-box;*/
    /*width: 100%;*/
    /*height:100%;*/
    /*width: 40%;*/

}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}